@page "/awards"

@layout UserMasterPage
<section class="awards vh-100 d-md-flex align-items-md-center">
    <div class="container-fluid p-md-5">
        <div class="row">
            <h1 class="text-light fs-1 text-uppercase fw-bold">Awards & Certifications</h1>
            <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>Google Analytics Certified Developer</span>
                </div>
                <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>Mobile Web Specialist - Google Certification</span>
                </div>
                <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>1 <sup>st</sup> Place - University of Colorado Boulder - Emerging Tech Competition 2009</span>
                </div>
                <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>1 <sup>st</sup> Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</span>
                </div>
                <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>2 <sup>nd</sup> Place - University of Colorado Boulder - Emerging Tech Competition 2008</span>
                </div>
                <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>1 <sup>st</sup> Place - James Buchanan High School - Hackathon 2006</span>
                </div>
                <div class="text-light">
                    <i class="text-warning fa-solid fa-trophy"></i>
                    <span>3 <sup>rd</sup> Place - James Buchanan High School - Hackathon 2005</span>
                </div>
        </div>


    </div>

</section>
