@page "/education"

@layout UserMasterPage
<section class="education vh-100 d-md-flex align-items-md-center">
    <div class="container-fluid p-md-5">
        <div class="row">
            <h1 class="text-light fs-1 text-uppercase fw-bold">Education</h1>
            <div class="exd-1">
                <div class="row justify-content-between">
                    <h3 class="col fw-bold text-light">University of Colorado Boulder</h3>
                    <h6 class="col text-end text-danger">August 2006 - May 2010</h6>
                </div>
                <h5 class="text-secondary">Bachelor of Science</h5>
                <p class="text-light">Computer Science - Web Development Track
                    <br/>GPA: 3.23</p>
            </div>
            <div class="exd-2">
                <div class="row justify-content-between">
                    <h3 class="col fw-bold text-light">James Buchanan High School</h3>
                    <h6 class="col text-end text-danger">August 2002 - May 2006</h6>
                </div>
                <h5 class="text-secondary">Technology Magnet Program</h5>
                <p class="text-light">GPA: 3.56</p>
            </div>
           
        </div>


    </div>

</section>

