@page "/"
@page "/about"

@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@

@layout UserMasterPage
<section class="about vh-100 d-md-flex align-items-md-center">
    <div class="container-fluid p-md-5">
        <div class="row">
            <h1 class="text-light fs-1 fw-bold">Clarence <span class="text-danger">Taylor</span></h1>
            <h5 class="text-secondary">3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 · <a
                class="text-danger" href="mailto:name@email.com"> name@email.com</a>
            </h5>
            <p class="col-8 text-light">I am experienced in leveraging agile frameworks to provide a robust synopsis for
                high
                level overviews. Iterative
                approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            </p>
            <div class="social d-flex flex-row">
            <a
                class="d-flex justify-content-center align-items-center text-decoration-none p-3 me-2 rounded-circle bg-secondary">
                <i class="fs-5 text-light fa-brands fa-linkedin-in"></i>
            </a>
            <a
                class="d-flex justify-content-center align-items-center text-decoration-none p-3 me-2 rounded-circle bg-secondary">
                <i class="fs-5 text-light fa-brands fa-github"></i>
            </a>
            <a
                class="d-flex justify-content-center align-items-center text-decoration-none p-3 me-2 rounded-circle bg-secondary">
                <i class="fs-5 text-light fa-brands fa-twitter"></i>
            </a>
            <a
                class="d-flex justify-content-center align-items-center text-decoration-none p-3 me-2 rounded-circle bg-secondary">
                <i class="fs-5 text-light fa-brands fa-facebook"></i>
            </a>
        </div>
        </div>
        

    </div>

</section>
