@page "/skills"

@layout UserMasterPage
<section class="skills vh-100 d-md-flex align-items-md-center">
    <div class="container-fluid p-md-5">
        <div class="row">
            <h1 class="text-light fs-1 text-uppercase fw-bold">Skills</h1>
            <div class="skill-1">
                <h5 class="text-secondary">Programming Languages & Tools</h5>
                <div>
                    <i class="fs-2 text-light fab fa-html5"></i>
                    <i class="ms-2 fs-2 text-light fab fa-css3-alt"></i>
                    <i class="ms-2 fs-2 text-light fab fa-js"></i>
                    <i class="ms-2 fs-2 text-light fab fa-angular"></i>
                    <i class="ms-2 fs-2 text-light fab fa-react"></i>
                    <i class="ms-2 fs-2 text-light fab fa-node"></i>
                    <i class="ms-2 fs-2 text-light fab fa-sass"></i>
                    <i class="ms-2 fs-2 text-light fab fa-less"></i>
                    <i class="ms-2 fs-2 text-light fab fa-wordpress"></i>
                    <i class="ms-2 fs-2 text-light fab fa-gulp"></i>
                    <i class="ms-2 fs-2 text-light fab fa-grunt"></i>
                    <i class="ms-2 fs-2 text-light fab fa-npm"></i>
                </div>
            </div>
            <div class="skill-2">
                <h5 class="text-secondary">Technology Magnet Program</h5>
                <div class="text-light">
                    <i class="fa-solid fa-check"></i>
                    <span>Mobile-First, Responsive Design</span>
                </div>
                <div class="text-light">
                    <i class="fa-solid fa-check"></i>
                    <span>Cross Browser Testing & Debugging</span>
                </div>
                <div class="text-light">
                    <i class="fa-solid fa-check"></i>
                    <span>Cross Functional Teams</span>
                </div>
                <div class="text-light">
                    <i class="fa-solid fa-check"></i>
                    <span>Agile Development & Scrum</span>
                </div>
            </div>

        </div>


    </div>

</section>
