<section class="siderbar vh-100 d-md-flex align-items-md-center bg-danger ">
    <div class="container-fluid p-md-5">
        <div class="row text-center">
            <img class="p-0 img-fluid border border-5 border-success rounded-circle"
                src="https://bt-component-netcore.cybersoft.edu.vn/assets/img/profile.jpg" alt="">
            <h5 class="fs-4 mt-3 mb-md-2">
                <a class="text-uppercase text-light text-decoration-none" href="/about">About</a>
            </h5>
            <h5 class="fs-4 mb-md-2"><a class="text-uppercase text-light text-decoration-none" href="/experience">Experience</a>
            </h5>
            <h5 class="fs-4 mb-md-2"><a class="text-uppercase text-light text-decoration-none" href="/education">Education</a>
            </h5>
            <h5 class="fs-4 mb-md-2"><a class="text-uppercase text-light text-decoration-none" href="/skills">Skills</a>
            </h5>
            <h5 class="fs-4 mb-md-2"><a class="text-uppercase text-light text-decoration-none" href="/interests">Interests</a>
            </h5>
            <h5 class="fs-4 mb-md-2"><a class="text-uppercase text-light text-decoration-none" href="/awards">Awards</a></h5>
        </div>

    </div>
</section>